<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.mybatis.dao.PersonDao">
  <select id="queryById" resultMap="personResultMap">
    select * from person where id = #{id}
  </select>
  <resultMap id="personResultMap" type="person">
    <result property="name" column="name"/>
  </resultMap>
</mapper>